<!DOCTYPE html>
	
{% load staticfiles %}

<html lang="en">
<head>
	<!-- The above 3 meta tags must come first in the head -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/non-responsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/tech.css' %}">	

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
	
</head>

<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% url 'index' %}">
					<img style="max-width: 120px; margin-top: -7px;" alt="Bioinformatics" src="{% static 'img/hologic_logo_top.png' %}"/>
				</a>
			</div>

			<div id="navbar">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
					Services
					<span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a href="/helpdesk">
							<span class="glyphicon glyphicon-cog"> | </span>
							Bioinformatics Service Request
							</a>
							</li>
							<li><a href="{% url 'clone_services' %}">
							<span class="glyphicon glyphicon-repeat"> | </span>
							Clone(IVT) Request
							</a></li>
							<li><a href="{% url 'msae_access' %}">
							<span class="glyphicon glyphicon-align-left"> | </span>
							MSAE Access Request
							</a>
							</li>
						</ul>
					</li>
					<li class="dropdown active">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
					Technologies
					<span class="caret"></span>
						<ul class="dropdown-menu">
							<li><a href="{% url 'tech_tma' %}">
							<span class="glyphicon glyphicon-tasks"> | </span>
							Transcription-Mediated Amplification
							</a>
							</li>
							<li><a href="{% url 'tech_invader' %}">
							<span class="glyphicon glyphicon-transfer"> | </span>
							Invader Technologies
							</a>
							</li>							
							<li><a href="{% url 'tech_archives'%}">
							<span class="glyphicon glyphicon-text-color"> | </span>
							Gen-Probe Scientific Articles Archive
							</a>
							</li>
						</ul>
					</a>
					</li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
					Tools
					<span class="caret"></span>
						<ul class="dropdown-menu">
							<li><a href="{% url 'tools_seqconversion' %}">
							<span class="glyphicon glyphicon-random"> | </span>
							Sequence Conversion
							</a>
							</li>
							<li><a href="#">
							<span class="glyphicon glyphicon-calendar"> | </span>
							Molecular Weight Calculator
							</a>
							</li>
							<li><a href="{% url 'tools_melting' %}">
							<span class="glyphicon glyphicon-fire"> | </span>
							TM Melting Calculator
							</a>
							</li>
							<li class="dropdown-header">Third Party</li>
							<li><a href="#">
							<span class="glyphicon glyphicon-erase"> | </span>
							Bioinformatics Tools
							| <span class='page_status_off'>Offline</span>
							</a>
							</li>
						</ul>
					</a>
					</li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
	</nav>

	<div class="fullstretch">
		<div id="title_page"></div>

		<div class="jumbotron">
			<div id="bioinfo_header">
				 Tech
			</div>
		</div>
	</div>

	<div class="fullstretch">
		<div class="container">
				{% block content %}
				{% endblock %}
		</div>
	</div>

	<div class="fullstretch" id="footer_main">
	Copyright 2016 | www.Hologic.com | Bioinformatics
	</div>



<!-- Placed at the end of the document for faster load times -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'js/tech.js' %}"></script>

</body>

</html>
