{% extends 'tech/base.html' %}
{% block content %}

{% load staticfiles %}

<div class="row">

	<div class="col-xs-12">
		<h1 class="classy_header">Invader Technologies</h1>
	</div>

	<div class="col-xs-4">
		<a class="preview" href="#getImage">
				<img alt="Invader Image" style="max-height: 100%; max-width: 100%; " src="{% static 'img/InvaderPlus.JPG' %}"/>
			<div class="imageEnlarge">
				<img id="getImage" alt="Invader Image" src="{% static 'img/InvaderPlus.JPG' %}" style="max-height: 100%; max-width: 100%;" />
			</div>
		</a>
	</div>

	<div class="col-xs-8">
		<h4 class="align_text_left">Invader Technologies</h4>
		<p style="text-align: left; text-indent: 40px;">Invader chemistry platform is a homogenous, isothermal, DNA probe-based system for highly sensitive, quantiative detection of specific nucleic acid sequences. It is an accurate and specific method for detecting single-base pair changes, insertions, deletions, gene copy number, infectious agents, gene expression. Invader reactions can be performed using genomic DNA or on amplified RNA, PCR, or RT-PCR products. The Invader process amplified a target-specific singal but not the target itself. </p>

		<p style="text-align: left; text-indent: 15px;">
		<b>Other Resources</b>
		<br>
			<ol style="text-align: left;">
				<li><a href="/media/tech/invader_concept_proof.pptx"><b>Proof of Concept: Invader Plus Chemistry </b></a><b>by</b> Jeff Hall</li>
				<li><a href="/media/tech/invader_overview.pptx"><b>Overview of Invader Chemistry and Products </b></a><b>by</b> Marilyn Olson</li>
			</ol>
		</p>

	</div>
</div>

{% endblock %}