{% extends 'tech/base_tech.html' %}
{% block content %}

<div class="row">
	<div class="col-xs-12">
		<h1 class="classy_header">Transcription Mediated Amplification (TMA)</h1>
	</div>
	<div class="col-xs-4">
		<iframe height="215" src="https://www.youtube.com/embed/hzAqbVgSbTw" frameborder="0"></iframe>
	</div>
	<div class="col-xs-8">

		<br/>
		<h4 class="align_text_left">Transcription Mediated Amplification</h4>
		<p style="text-align: left; text-indent: 40px;">TMA is one of the main technologies driving many of the assays on the automated Panther platform. Recently, real time has been added to the TMA process (RT-TMA).</p>

		<h4 class="align_text_left">Resources</h4>
		<ol style="text-align: left;">
			<li><b><a href="/media/tech/RT_TMA_Sangeetha.pptx">RT-TMA with Aptima HIV Presenation </a> by </b> Sangeetha Nair </li>
			<li><b><a href="/media/tech/Tech_TMA_Overview.pptx">TMA, RT-TMA, HPA Presentation</a> by </b> Siobhan Miick </li>
			<li><b><a href="/media/tech/tma_brentano.pdf">TMA Literature:</b><i> Isothermal Amplification of RNA by TMA</i></a> <b>by</b> Brentano S., McDonough S.</li>
		</ol>
	</div>
</div>


{% endblock %}