{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/portal.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
{% endblock %}
{% block extranav %}
<div class="full">
  <div class="splash">
    Bioinformatics
    <img src="http://www.hologic.com/sites/default/files/logo-hologic_0.png"/> 
    <div class="scrolldownicon">
      <a id="gotointro" href="#nav"><span class="glyphicon glyphicon-chevron-down"></span></a>
    </div>
  </div>
</div>	
{% endblock %}

{% block customnav %}
<nav class="navbar navbar-default navbar-static">
{% endblock %}	
	{% block banner %}
	<div class="fullstretch">

		<div id="title_page">
			<div id="logo">Bioinformatics</div>
		</div>

	</div>
	{% endblock %}
{% block fullcontent %}
<div>
{% endblock %}
{% block content %}
{% endblock %}
{% block js %}
<!-- Placed at the end of the document for faster load times -->
<script type="text/javascript" src="{% static 'js/typed.js' %}"></script>
<script type="text/javascript" src="{% static 'js/portal_js.js' %}"></script>
{% endblock %}
