{% extends 'portal/base.html' %}
{% block content %}

	<div class="main_page">
		<div class="row equal">
			<div class="col-xs-2">
				<div class="panel panel-default">
				<div class="panel-heading panel-mod">
					<span class="glyphicon glyphicon-cloud glyph-mod"></span>
				</div>
				<div class="panel-body">
				<p><b>Upcomming Events</b></p>
				<i>None</i>						
				</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="panel panel-default">
				<div class="panel-heading panel-mod">
					<span class="glyphicon glyphicon-cog glyph-mod"></span>
				</div>
					<div class="panel-body">
					Bioinformatics Service Request
					<hr>
					<a class="btn btn-danger" href="#" role"button">
					Request</a>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="panel panel-default">
				<div class="panel-heading panel-mod">
					<span class="glyphicon glyphicon-repeat glyph-mod" ></span>
				</div>
					<div class="panel-body">Clone(IVT) Service Request
					<hr>
					<a class="btn btn-danger" href="#" role"button">Request</a>					
					</div>
				</div>			
			</div>			
			<div class="col-xs-2">
				<div class="panel panel-default">
				<div class="panel-heading panel-mod">
					<span class="glyphicon glyphicon-align-left glyph-mod"></span>
				</div>
					<div class="panel-body">
						MSAE Access Request
						<hr>
						<a class="btn btn-danger" href="#" role"button">Request</a>							
					</div>
				</div>			
			</div>
			<div class="col-xs-2">
				<div class="panel panel-default">
					<div class="panel-heading panel-mod">
						<span class="glyphicon glyphicon-flag glyph-mod"/>
					</div>
					<div class="panel-body">
					Training Service Requests
					<hr>
					<a class="btn btn-danger" href="#" role"button">Request</a>						
					</div>
				</div>
			</div>

		</div>


	</div>
{% endblock %}


