{% extends 'portal/base_portal.html' %}
{% block content %}
	<div class="main_page">
	<div class="row">
		<div class="col-xs-12">
			<h3>Service Requests</h3>
			<hr class="categorydivider">
			<div class="row">
                <div class="col-xs-2">
                	<a href="/msae" class="panel-links">
	                  <div class="panel panel-default app-panel">
	                    <div class="panel-heading app-panel-header text-center navglyphs">
	                      <span class="glyphicon glyphicon-align-left"></span>
	                    </div>
	                    <div class="panel-body text-center">
	                      Bioinformatics Service Request
	                    </div>
	                  </div>
	                 </a>
                </div>
                <div class="col-xs-2">
                	<a href="/services/clone" class="panel-links">
	                  <div class="panel panel-default app-panel">
	                    <div class="panel-heading app-panel-header text-center navglyphs" id="gbg">
	                      <span class="glyphicon glyphicon-repeat"></span>
	                    </div>
	                    <div class="panel-body text-center">
	                      Clone(IVT) Service Request
	                    </div>
	                  </div>
	                 </a>
                </div>
				<div class="col-xs-2"><!-- Future Tools --></div>
				<div class="col-xs-2"><!-- Future Tools --></div>
				<div class="col-xs-2"><!-- Future Tools --></div>
				<div class="col-xs-2"><!-- Future Tools --></div>
			</div>

			<h3>Assay Development Tools</h3>
			<hr class="categorydivider">
			<div class="row">

				<div class="col-xs-2">
					<a href="/pq" class="panel-links">
						<div class="panel panel-default app-panel">
							<div class="panel-heading app-panel-header text-center navglyphs">
								<span class="glyphicon glyphicon-signal"></span>
							</div>
							<div class="panel-body text-center">
								Performance Quality Analyzer
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-2">
					<a href="http://jasper:3838/rdtools/probit_analysis/" class="panel-links">
						<div class="panel panel-default app-panel">
							<div class="panel-heading app-panel-header text-center navglyphs">
								<span class="glyphicon glyphicon-ruble"></span>
							</div>
							<div class="panel-body text-center">
								<br>&nbsp;Probit Analysis<br>&nbsp;
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-2"><!-- Future Tools --></div>
				<div class="col-xs-2"><!-- Future Tools --></div>
				<div class="col-xs-2"><!-- Future Tools --></div>
				<div class="col-xs-2"><!-- Future Tools --></div>

			</div>

			<h3>Sequence Analysis Tools</h3>
			<hr class="categorydivider">
			<div class="row">
                <div class="col-xs-2">
                	<a href="http://bioinfo-3:8181/molWt" class="panel-links">
	                  <div class="panel panel-default app-panel">
	                    <div class="panel-heading app-panel-header text-center navglyphs">
	                      <span class="glyphicon glyphicon-calendar"></span>
	                    </div>
	                    <div class="panel-body text-center">
	                      Molecular Weight Calculator
	                  
	                    </div>
	                  </div>
	                 </a>
                </div>
                <div class="col-xs-2">
                	<a href="/tools/melting" class="panel-links">
	                  <div class="panel panel-default app-panel">
	                    <div class="panel-heading app-panel-header text-center navglyphs">
	                      <span class="glyphicon glyphicon-fire"></span>
	                    </div>
	                    <div class="panel-body text-center">
	                      TM Melting Calculator	<br>&nbsp;
	                    </div>
	                  </div>
	                 </a>
                </div>
                <div class="col-xs-2">
	                <a href="/tools/seqconversion/" class="panel-links">
	                  <div class="panel panel-default app-panel">
	                    <div class="panel-heading app-panel-header text-center navglyphs" id="orbg">
	                      <span class="glyphicon glyphicon-random"></span>
	                    </div>
	                    <div class="panel-body text-center">
	                      Sequence Conversion Tool
	                    </div>
	                  </div>
	                 </a>
                </div>
				<div class="col-xs-2">
	                <a href="/msae" class="panel-links">
	                  <div class="panel panel-default app-panel">
	                    <div class="panel-heading app-panel-header text-center navglyphs" id="orbg">
	                      <span class="glyphicon glyphicon-align-center"></span>
	                    </div>
	                    <div class="panel-body text-center">
	                      <br>&nbsp;MSAE<br>&nbsp;
	                    </div>
	                  </div>
	                 </a>
				</div>
                <div class="col-xs-2"><!-- Future Tools --></div>
                <div class="col-xs-2"><!-- Future Tools --></div>
			</div>

		</div>
	</div>







	</div>
{% endblock %}


