{% extends 'biomatcher/base.html' %}
{% block content %}

<div id="meltTool" class="fullstretch">

	<div class="container">
		<div class="row" style="padding: 20px;">
			<div class="col-xs-12">
				<h1><b>Biomatcher</b></h1>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-3"></div>
			<div class="col-xs-6">
				<p>
					<font style="font-size: 16px;">Pattern Matching Program</font>
				</p>
			</div>
			<div class="col-xs-3"></div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default" style="padding: 10px">
					<div class="panel-body">
						<div class="row">
						<h3 style="text-align:left">Database Selection</h3>
						<p style="text-align:left">Select from an existing database or upload a new one.</p>
							<ul id="databaseTabs" class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active">
									<a href="#use-existing-database" id="database-existing-tab" role="tab" data-toggle="tab" aria-controls="Use Existing Database" aria-expanded="true">Use Existing Database</a>
								</li>
								<li role="presentation">
									<a href="#use-new-database" id="new-database-tab" role="tab" data-toggle="tab" aria-controls="Upload New Database" aria-expanded="true">Upload New Database</a>
								</li>
							</ul>
							<div id="databaseSelectionMain" class="tab-content">
								<div role="tabpanel" id="use-existing-database" class="tab-pane active">
									<div id="existing-database-content">
										{{ input_form.file_upload_selection }}
									</div>
								</div>
								<div role="tabpanel" id="use-new-database" class="tab-pane">
									<div id="new-database-content">
										<form action="" method="post" id="upload-pattern-database" enctype="multipart/form-data">
											{% csrf_token %}
											<table>
												<tr>
													<td>
														<br/>
													</td>
												</tr>	
												<tr>
													<td>
													File must be uploaded in FASTA format (.fasta or .txt) files are acceptable.
													Uploaded databases cannot contain any gaps.
													All sequences must be in the same orientation (i.e. All 5' to 3' or 3' to 5') 
													</td>
												</tr>
												<tr>
													<td>
														<h3>Custom Database Setup</h3>

													</td>
												</tr>
												<tr>
													<td>
														Name the database:
														{{ upload_form.biomatcher_filename }}
													</td>
												</tr>												
												<tr>
													<td>
														{{ upload_form.biomatcher_fileupload }}
													</td>
												</tr>
											</table>
											<input id="submit_upload" class="btn btn-primary" type="submit" value="Upload">
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<form action="" method="post" id="run-biomatcher">
		{% csrf_token %}
		
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-6">
							<p style="text-align:left">Enter oligonucleotide sequence(s):</p>
							{{ input_form.patterns }}
							<p style="text-align: left"><i>The program accepts IUPAC degenerate bases.</i></p>
							</div>
							<div class="col-xs-6">
							<h3>Instructions</h3>
							<p style="text-align:left">Please enter your oligonucleotide sequences in the same
							orientation as the reference database sequences (i.e. if the reference database is 5'-3',
							the oligonucleotide sequences also have to be 5'-3'. No duplicate oligonucleotide names are allowed.</p>
							<p style="text-align: left">Sequences <b>must</b> be entered in FASTA format as such:
								<br>
								>OligonucleotideName
								<br>
								ATAGGGATTAAA
								<br>
								>OligonucleotideName2
								<br>
								TTAACCACAGGG
							</p>
							<hr>
							<p style="text-align:left">Note: The program does not perform well on full genomes and is only limited to pattern matching against a database of genes such as a database of 16S rRNA. 
							</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4 style="text-align: left">Settings</h3>
						<hr>
							<div id="match-settings">
								<table id="match-settings-table">
									<tr>
										<td>
										<font class='match-setting-labels'>Number of Mismatches Allowed</font>
										</td>
										<td>&emsp;</td>
										<td>
										{{ input_form.max_mismatches_allowed }}
										</td>
										<td>
										<span>Minimum number mismatches allowed between subject and pattern.</span>
										</td>
									</tr>
									<tr>
										<td>
										<font class='match-setting-labels'>Min Number of Hits Allowed</font>
										</td>
										<td>&emsp;</td>
										<td>
										{{ input_form.minimum_total_hits }}
										</td>
										<td>
										<span>Minimum number of times a pattern must match to subject to be considered valid. Only numbers greater than or equal to 1 are valid.</span>
										</td>
									</tr>
									<tr>
										<td>
										<font class='match-setting-labels'>Max Number of Hits Allowed</font>
										</td>
										<td>&emsp;</td>
										<td>
										{{ input_form.maximum_total_hits }}
										</td>
										<td>
										<span>Maximum number of times a pattern can match to subject to be considered valid. Only numbers greater than or equal to 1 are valid.</span>
										</td>
									</tr>
								</table>
							</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12" id="run-content">
				<div class="panel panel-default">
				<div class="panel-body">
					<input type="hidden" name="database-selection-hidden" id="hidden-database-selection">
					<button class="btn btn-danger" id='submit-form' type="submit"> <span class="glyphicon glyphicon-play"></span> RUN </button>
				</div>
			</div>
			</div>
		</div>
		</form>

		<div class="row" id="results-table">
			<div class="col-xs-12">
				<h4><u>Results</u></h4>
				<table id="biomatcher-data-table" class="table table-striped">						
				</table>
			</div>
		</div>

	</div>


{% endblock %}
