/* Tools Status */

.page_status_on {
	font-size: 0.8em;
	color: green;
}

.page_status_off {
	font-size: 0.8em;
	color: red;
}

/*__________________*/

.fullstretch {
	position: relative;
	background: white;
	color: black;
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
}

span.glyph-mod {
	font-size: 5em;
	color: white;
}


.equal, .equal > div[class*='col-'] {
	display: -webkit-flex;
	display: flex;
	flex: 1 1 auto;
}

#title_page {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	padding-bottom: 300px;
	background: #517396;
}

#bioinfo_header {
	color: white;
	font-weight: bold;
	font-size: 170px;
	position: absolute;
	bottom: -65px;
	left: 10px;
}

#footer_main {
	background: white;
	padding: 100px;
}

.jumbotron {
	margin-top: 0px;
	background: #517396;
	position: relative;
}

.panel-mod {
	background: #517396 !important;
}

.panel-body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.2em;
}

/** MELTING SPECIFIC **/
a:hover, a:active {
	text-decoration: none;
	color: none;
}

b {
	font-family: 'Noto Sans';
}

div.imageEnlarge {
	display: none;
}

a:visited, a:link {
	color: black;
}

body {
	padding-top: 50px;
}

.fullstretch {
	position: relative;
	width: 100%;
	left: 0;
	display: table;
	text-align: center;
}

.styleGuide {
	display: inline-block;
	width: 8px;
	text-align: center;
}

.inputErrors {
	color: red;
	font-weight: bold;
}

#aboutDescription {
	text-align: left;
}

#resultDescription {
	text-align: left;
}

#meltTool {
	height: 700px;
}

#existing-database-content {
	text-align: left;
}

#toolBanner {
	background-color: #517396;
	height: 300px;
}
/** ____________ **/

/** Biomatcher Specific **/

#id_file_upload_selection {
	margin: 15px 0px 0px 0px;
}

#id_patterns {
	resize: vertical;
	width: 450px;
}

#new-database-content,
#match-settings {
	text-align: left;
}

#submit_upload {
	margin: 15px 0px 0px 0px;
}

#id_biomatcher_fileupload {
	padding: 10px 0px 0px 0px;
}

#id_max_mismatches_allowed, 
#id_minimum_total_hits,
#id_maximum_total_hits {
	width: 50px;
}

#match-settings-table td {
	padding: 5px;
}

#match-settings-table span {
	font-size: 14px;
}

#run-content button {
	font-size: 20px;
}