

/* ########################################### */

/* Bootstrap Modifications */
/* Following modifications are for removing the responsiveness */

/* ########################################### */




/*--------------->        Reset Container*/
.container {
	width: 970px;
	max-width: none !important;
}



.container .navbar-header,
.container .navbar-collapse {
	margin-left: 0;
	margin-right: 0;
}

/*--------------->        Float the navbar header*/
.navbar-header {
	float: left;
}

/*--------------->        Undo Collapse on navbar*/
.navbar-collapse {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
/*	visibility: visible !important;*/
}

.navbar-toggle {
	display: none;
}

/*.navbar-collapse {
	border-top: 0;
}*/

.navbar-brand {
	margin-left: -15px;
}

.navbar-nav {
	float: left;
	margin: 0;
}

.navbar-nav > li > a {
	padding: 15px;
}



/*--------------->        Undo custom dropdown*/
.navbar .navbar-nav .open .dropdown-menu {
	position: absolute;
	float: left;
	border-width: 0 1px 1px;
	border-radius: 0 0 4px 4px;
}

.navbar-nav.navbar-right {
	float: right;
}

/* ########################################### */

    /* END OF BOOTSTRAP CSS MODIFICATIONS */

/* ########################################### */

a:hover, a:active {
	text-decoration: none;
	color: none;
}

b {
	font-family: 'Noto Sans';
}

div.imageEnlarge {
	display: none;
}

a:visited, a:link {
	color: black;
}

body {
	padding-top: 50px;
}

.fullstretch {
	position: relative;
	width: 100%;
	left: 0;
	display: table;
	text-align: center;
}

.styleGuide {
	display: inline-block;
	width: 8px;
	text-align: center;
}

.inputErrors {
	color: red;
	font-weight: bold;
}

#aboutDescription {
	text-align: left;
}

#resultDescription {
	text-align: left;
}

#meltTool {
	height: 700px;
}

#toolBanner {
	background-color: #517396;
	height: 300px;
}
