/* Tools Status */

.page_status_on {
	font-size: 0.8em;
	color: green;
}

.page_status_off {
	font-size: 0.8em;
	color: red;
}


#title_page {
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  padding-bottom: 130px;
  background: #FFFFFF;
}

#bioinfo_header
{
  font-weight: bold;
  color: black;
  font-size: 100px;
  bottom: 40px;
  left: 350px;
  position: absolute;
}

#footer_main {
	background: white;
	padding: 100px;
}

.jumbotron {
	margin-top: 180px;
	background: #FFFFFF;
	position: relative;
}

.panel-mod {
	background: #517396 !important;
}

.panel-body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.2em;
}

.navglyphs
{
  font-size: 100px;
}

a.panel-links:link,
a.panel-links:active,
a.panel-links:visited
{
  text-decoration: none;
  color: black;
}


a.panel-links:hover > .app-panel
{
  box-shadow: 1px 1px 1px #888888;
}

.app-panel-header
{
  color: white !important;
  background-color: #111C61 !important;
}

.app-panel {
  box-shadow: 1px 7px 10px #888888;
  border: #FFFFFF;
}

.categorydivider
{
  background-color: #333;
  color: #333;
  height: 1px;
  border: none;
}

.full {
  height:900px;
  background-color: #111C61;
  align-content: center;
  font-family: 'Raleway', sans-serif;
}

.crazy {
  color: white;
  font-size: 80px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 220px;
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
}

.scrolldownicon
{
  padding: 100px;
  font-size: 80px;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {opacity: 0;}
}

#nav.affix
{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}