{% extends 'services/base_services.html' %}
{% block content %}

<div class="row msaeaccess_main">

	<div class="col-xs-7">
		<h1>
			<b id="m_id">M</b><b id="s_id">S</b><b id="a_id">A</b><b id="e_id">E</b> Access Request</h1>
			<p>This form is to be completed by any new users to the Multiple Sequencer Alignment Editor (MSAE)
			Please follow the instructions carefully and we will respond back to you as soon as possible.</p>
		<hr>
		<form action="" method="post" id="msae_access_id">
			{% for field in msaeaccessForm %}
			<div class="form-group">
				{% csrf_token %}
				{{ field.label_tag }} {{ field }}
				{{ field.errors }}
				{% if field.help_text %}
				<div class="help_text">
					<span>{{ field.help_text }}</span>
				</div>
				{% endif %}
			</div>
			{% endfor %}
			<button type="Submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

	<div class="col-xs-5">
	</div>	
</div>

{% load staticfiles %}
{% endblock %}