<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js" type="text/javascript"></script>
	<script src="/static/js/kocustom.js" type="text/javascript"></script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="http://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css"/>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
	<!-- Change Here -->
	<link href="/static/css/customcss_melt.css" rel="stylesheet" type="text/css"/>

</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href-"#">
					<img style="max-width: 120px; margin-top: -7px;" alt="Bioinformatics" src="/static/img/hologiclogo.png">
				</a>
			</div>

			<div id="navbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="toolBanner" class="fullstretch">
		<div class="innerContent">
			<br><br><br><br><br>
			<font style="color: white; font-size: 50px;"><span style="font-size: 40px;" class="glyphicon glyphicon-tasks"></span>Bioinformatics Workspace</font>
		</div>
	</div>

	{% block content %}

	{% endblock %}

</body>
</html>

	



