{% extends 'gparchives/base.html' %}
{% block content %}

<h1 class="align_text_left">Article Archives</h1>
<p class="align_text_left">Here you will find articles on many of the
technologies we use and the research that went into creating 
them.</p>

<table class="table table-bordered align_text_left" id="gparchivetable">
	<thead>
		<tr>
				<th>Title</th>
				<th>Author(s)</th>
				<th>Citation</th>
				<th>Year</th>
		</tr>
	</thead>

	<tbody>
		{% for field in archive_list %}
		<tr>
			<td>
			<a href="{{ MEDIA_URL }}{{ field.document }}">{{ field.title }}</a>
			</td>
			<td>{{ field.author }}</td>
			<td>{{ field.citation }}</td>
			<td>{{ field.year }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}