<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<!-- The above 3 meta tags must come first in the head -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/non-responsive.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
	{% block css %}
	{% endblock %}
	<title>Bioinformatics - Hologic</title>
</head>

<!-- Required for Splash Page -->
{% block extranav %}
{% endblock %}

<!-- Fixed vs Static Navigation Bar -->
<div id="nav">
{% block customnav %}
	<nav class="navbar navbar-default navbar-fixed-top">
{% endblock %}	
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img style="max-width: 120px; margin-top: -7px;" alt="Bioinformatics" src="{% static 'img/hologic_logo_top.png' %}"/>
				</a>
			</div>

			<div id="navbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{% url 'index' %}#title_page">Home</a></li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
					Services
					<span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'clone_services' %}">
								<i class="fa fa-genderless"> &nbsp;|</i>
							Clone(IVT) Request
							</a></li>
							<li><a href="http://bioinfo-3:8080/servicedesk/customer/portal/3">
								<i class="fa fa-flask"> &nbsp;|</i>
							Informatics Service Request
							</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
					Technologies
					<span class="caret"></span>
						<ul class="dropdown-menu">
							<li><a href="{% url 'tech_tma' %}">
							<span class="glyphicon glyphicon-tasks"> | </span>
							Transcription-Mediated Amplification
							</a>
							</li>
							<li><a href="{% url 'tech_invader' %}">
							<span class="glyphicon glyphicon-transfer"> | </span>
							Invader Technologies
							</a>
							</li>							
							<li><a href="{% url 'tech_archives' %}">
							<span class="glyphicon glyphicon-text-color"> | </span>
							Gen-Probe Scientific Articles Archive
							</a>
							</li>
							<li><a href="{% url 'feasibility_archives' %}">
							<span class="glyphicon glyphicon-floppy-disk"> | </span>
							Gen-Probe Scientific Feasibility Archives
							</a>
							</li>
						</ul>
					</a>
					</li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
					Tools
					<span class="caret"></span>
						<ul class="dropdown-menu">
							<li class="dropdown-header">Sequence Analysis Tools</li>
							<li><a href="{% url 'tools_seqconversion' %}">
							<span class="glyphicon glyphicon-random"> | </span>
							Sequence Conversion
							</a>
							</li>
							<li><a href="http://bioinfo-3:8181/molWt">
							<span class="glyphicon glyphicon-calendar"> | </span>
							Molecular Weight Calculator
							</a>
							</li>
							<li><a href="{% url 'tools_melting' %}">
							<span class="glyphicon glyphicon-fire"> | </span>
							TM Melting Calculator
							</a>
							</li>
							<li><a href="{% url 'flatpage' url='msae/' %}">
							<span class="glyphicon glyphicon-align-center"> | </span>
							MSAE
							</a>
							</li>							
							<li class="dropdown-header">Assay Development Tools</li>
							<li><a href="{% url 'add_attachment' %}">
							<span class="glyphicon glyphicon-signal"> | </span>
							PQ Analysis
							</a>
							</li>
							<li><a href="http://jasper:3838/rdtools/probit_analysis/">
							<span class="glyphicon glyphicon-ruble"> | </span>
							Probit Analysis
							</a>
							</li>							
							<li class="dropdown-header">Third Party</li>
							<li><a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi">
							<span class="glyphicon glyphicon-erase"> | </span>
							NCBI BLAST
							</a>
							</li>
							<li><a href="https://www.idtdna.com/calc/analyzer">
							<span class="glyphicon glyphicon-erase"> | </span>
							OligoIDT
							</a>
							</li>
						</ul>
					</a>
					</li>
					<li><a href="{% url 'flatpage' url='contacts/' %}">Contact</a></li>
					<!-- <li><a href="{% url 'bug' %}" style="color: red"><i>Report Bug</i> </a></li> -->
				</ul>
			</div>
	</nav>
</div>


<body>

	{% block banner %}
	<div class="fullstretch">

		<div id="title_page"></div>

	</div>
	{% endblock %}

	<!-- Make all child content align to middle -->
	{% block fullcontent %}
	<div class="fullstretch">
	{% endblock %}

		<div class="container">
				{% block content %}
				{% endblock %}
		</div>
	</div>

	<div class="fullstretch" id="footer_main">
	Copyright 2016 | www.Hologic.com | Bioinformatics
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> -->
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
{% block js %}
{% endblock %}

</body>
</html>
